@model List<ChamadosModel>

@{
    ViewData["Title"] = "CHAMADOS";
}

<div>
    <h1 class="">Chamados</h1>
</div>

<div>
    <a class="btn btn-primary" role="button" asp-controller="Chamados" asp-action="CriarChamado">  Criar Chanmado  </a>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITULO</th>
            <th scope="col">DESCRIÇÃO</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">PRIORIDADE</th>
            <th scope="col">STATUS</th>
            <th scope="col">USUARIO</th>
            <th scope="col">DT ABERTURA</th>
            <th scope="col">DT FECHAMENTO</th>
            <th scope="col">INICIAR</th>
            <th scope="col">FINALIZAR</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null && Model.Any())
        {
            foreach (ChamadosModel chamado in Model)
            {
                <tr>
                    <th scope="row">@chamado.Id</th>
                    <td>@chamado.Titulo</td>
                    <td>@chamado.Texto</td>
                    <td>@chamado.Categoria</td>
                    <td>@chamado.Prioridade</td>
                    <td>@chamado.status</td>
                    <td>@chamado.Usuario</td>
                    <td>@chamado.dt_Abertura</td>
                    <td>@chamado.dt_fechamento</td>
                    <td> <a class="btn btn-primary" role="button" data-bs-toggle="modal" asp-route-id="@chamado.Id" data-bs-target="#exampleModal1">  Iniciar  </a> </td>
                    <td> <a class="btn btn-danger" role="button" data-bs-toggle="modal" asp-route-id="@chamado.Id" data-bs-target="#exampleModal"> Fechar </a> </td>
                </tr>
            }
        }

       
  @*   <td> <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" asp-controller="Chamados" asp-action="AceitarChamado">  Iniciar  </a> </td> *@

    </tbody>
</table>


@* MODAL FINALIZAR CHAMADO*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">FINALIZAR CHAMADO?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja Finalizar o Chamado?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" asp-asp-controller="Chamados" asp-action="FinalizarChamado">Finalizar</a>
                <a type="button" class="btn btn-secondary btn-lg" asp-asp-controller="Chamados" asp-action="index"> Cancelar </a>
            </div>
        </div>
    </div>
</div>

@* MODAL ACEITAR CHAMADO*@
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ACEITAR CHAMADO?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja Iniciar o Atendimento desse Chamado?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary btn-lg" asp-asp-controller="Chamados" asp-action="AceitarChamado">Iniciar Atendimento</a>
                <a type="button" class="btn btn-secondary btn-lg" asp-asp-controller="Chamados" asp-action="index"> Cancelar </a>
            </div>
        </div>
    </div>
</div>

